* {
  box-sizing: border-box;
}

html, body {
  background-color: #f5f6f7;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font: 14px "Lato", Arial, sans-serif;
  min-width: 100%;
  min-height: 100%;
}

.container-fluid {
  height: 100vh;
  padding: 20px 30px;
}

.input-container {
  width: 30%;
}

label {
  font-size: 1.15rem;
}

.statement-date-form {
  display: flex;
  justify-content: space-around;
}

table.table-bordered{
  border:1px solid #424345;
  margin-top:20px;
}

table.table-bordered > thead > tr > th{
  border:1px solid #424345;
}

table.table-bordered > tbody > tr > td{
  border:1px solid #424345;
}

table {
  font-size: 1.12rem;
}

.totals-container {
  width: 40%;
  padding: 4px 0 20px 0;
}

.total-container {
  border: 1px solid rgb(46, 46, 46); 
  display: flex;
  margin: 1px 0;
}

.total-default {
  border-left: 1.5px solid black;
  padding: 8px 12px;
  width: 11em;
  font-size: 1.2rem;
}

.total-value {
  font-size: 1.3rem;
  align-self: center;
  padding-right: 30px;
}